body {
    align-items: center;
    background-image: url(IMG_1312.jpeg);
    background-repeat: no-repeat;
    background-size: 2000px;
    color: solid white;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
}

/* header stylings */

.main-container {
    align-items: center;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 60vw;
}


/* Side Bars Styling */

.side-bar-left,
.side-bar-right {
    align-items: center;
    background-color: white;
    border: 2px solid white;
    display: flex;
    height: 100vh;
    flex-direction: column; 
    justify-content: flex-start;
    width: 20vw;
}

.wins-tracker-left,
.wins-tracker-right,
.wins-counter-right,
.wins-counter-left {
    color: gray;
    font-size: 40px;
    padding-top: 40%;
    text-align: center;
}

p {
    margin: 0;
}

.turn-tracker {
    color: white;
    font-size: 40px;
    padding-top: 5%;
    text-align: center;
}


/* Grid Styling */

.game-grid {
    display: grid;
    font-size: 50px;
    grid-gap: 0px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 60%;
    padding-top: 7%;
    width: 60%; 
}

.box {
    align-items: center;
    border: 5px solid white;
    display: flex;
    font-size: 60px;
    justify-content: center;
    margin: none;
}

.remove-top-margin {
    border-top: 5px solid transparent;
}

.remove-left-margin {
    border-left: 5px solid transparent;
}

.remove-right-margin {
    border-right: 5px solid transparent;
}

.remove-bottom-margin {
    border-bottom: 5px solid transparent;
}

.disabled { 
    pointer-events: none;
}